.full-height {
  height: 100vh;
}

.full-height-minus-navbar {
  height: 80vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

html body:not(#guest) {
  background-color: #f6f5ff;
}
