.full-height {
  height: 100vh;
}

.full-height-minus-navbar {
  height: 80vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

html body:not(#guest) {
  background-color: #f6f5ff;
}

body {
  /*css for full size background image*/
   background: url(https://source.unsplash.com/category/nature/1024x800) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height: 100%;   
   overflow: hidden;  
   opacity: 1.0;
   -webkit-transition: background 1.5s linear;
   -moz-transition: background 1.5s linear;
   -o-transition: background 1.5s linear;
   -ms-transition: background 1.5s linear;
   transition: background 1.5s linear;
   
   background-color: #fff;
   color: #000;   
 } 